button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: var(--border-radius-m);
  cursor: pointer;
  display: inline-block;
  line-height: 1;

  color: #333;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;

  &[data-priority='primary'] {
    color: white;
    background-color: #1ea7fd;
  }

  &[data-size='s'] {
    font-size: var(--12px);
    padding: var(--4px) var(--12px);
  }
  &[data-size='m'] {
    font-size: var(--16px);
    padding: var(--8px) var(--16px);
  }
  &[data-size='l'] {
    font-size: var(--24px);
    padding: var(--12px) var(--24px);
  }
}
