@scope (button) {
  & {
    font-weight: var(--font-bold);
    border: 0;
    border-radius: var(--border-radius-m);
    cursor: pointer;
    display: inline-block;
    line-height: 1;

    color: var(--color-natural-6);
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.15) 0 0 0 1px inset;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &[data-priority='primary'] {
    color: white;
    background-color: var(--color-primary-4);
    &:hover:not(&:disabled), &:focus {
      background-color: var(--color-primary-3);
    }
  }

  &[data-priority='normal'] {
    background-color: var(--color-natural-1);
    &:hover:not(&:disabled), &:focus {
      background-color: var(--color-natural-2);
    }
  }

  &[data-priority='danger'] {
    color: white;
    background-color: var(--color-error-4);
    &:hover:not(&:disabled), &:focus {
      background-color: var(--color-error-3);
    }
  }

  &[data-size='s'] {
    font-size: var(--12px);
    padding: var(--4px) var(--12px);
  }

  &[data-size='m'] {
    font-size: var(--16px);
    padding: var(--8px) var(--16px);
  }

  &[data-size='l'] {
    font-size: var(--24px);
    padding: var(--12px) var(--24px);
  }
}
