@scope (p.text) {
  & {
    overflow-wrap: break-word;
    inline-size: max-content;
    margin-block-start: 0;
    margin-block-end: 0;
  }

  &.font-size_s {
    font-size: var(--font-size-s);
  }
  &.font-size_m {
    font-size: var(--font-size-m);
  }
  &.font-size_l {
    font-size: var(--font-size-l);
  }
}
