form:not([data-horizontal='true']) {
  display: grid;
  grid-template-rows: repeat(2, [label] max-content [input] 1fr);
  gap: var(--16px);

  > div {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 2;
    gap: 0;

    label {
      font-size: var(--font-size-s);
    }
  }
}

form[data-horizontal='true'] {
  display: grid;
  gap: var(--16px);

  > div {
    display: grid;
    grid-template-columns: [label] max-content [input] 1fr;
    gap: var(--8px);
  }
}

footer {
  justify-self: right
}