@scope (form) {
  & {
    display: grid;
    gap: var(--16px);
  }

  &:not([data-horizontal='true']) {
    grid-template-rows: repeat(2, [label] max-content [input] 1fr);

    > div {
      display: grid;
      grid-template-rows: subgrid;
      grid-row: span 2;
      gap: 0;

      label {
        font-size: var(--font-size-s);
      }
    }
  }

  &[data-horizontal='true'] {

    > div {
      display: grid;
      grid-template-columns: [label] max-content [input] 1fr;
      gap: var(--8px);
    }
  }

  footer {
    justify-self: right
  }
}
