.form {
  display: grid;
  grid-template-rows: repeat(2, [label] max-content [input] 1fr);
  gap: 8px;

  > div {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 2;
    gap: 0;
  }
}
