@scope (div:has(input+[role=tooltip]>[role="alert"])) {
  [role="alert"] {
    color: var(--color-natural-1);
    padding: var(--spacing-2) var(--spacing-3);
    background-color: var(--color-error-3);
    border-radius: var(--border-radius-m);
    display: grid;
    gap: var(--spacing-3);
    grid-template-columns: min-content 1fr;

    > svg {
      align-self: baseline;
    }
  }

  > input:user-invalid {
    box-shadow: var(--shadow-hover-forms-error);
  }
}

div:has(input+[role=tooltip]) {
  [role=tooltip] > div.valid {
    display: grid;
    color: var(--color-success-5);
  }
}

@scope (body.dark div:has(input+[role=tooltip]>[role="alert"])) {
  [role="alert"] {
    color: var(--font-color);
  }
}
