@scope (.labeled-form) {
   label {
      align-self: center;

      &[for] {
         cursor: pointer;
      }

      &:has(+Input[required], +Select[required], +Textarea[required]) {
         &::after {
            content: '*';
            color: var(--color-error-3);
         }
      }
   }
}
