@scope (input[type='text']) {
  & {
    padding: var(--spacing-2);
    border: 1px solid var(--color-primary-2);
    border-radius: var(--border-radius-m);
  }

  &:hover {
    box-shadow: var(--shadow-hover-forms);
  }
}
